@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:ital,wght@0,600;1,500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: "Montserrat", sans-serif;
}
    .logo {
        cursor: pointer;
        height: 40px;
        margin-right: auto;
        position: relative;
        margin-left: -25px;
    }
    .nav_links {
        list-style: none;
    }
    .nav_links li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
    }
    .nav_links li a {
        transition: all 0.3s ease 0s;
        text-transform: capitalize;
        font-weight: bold;
    }   
     .nav_links li a:hover {
    color: #FF5C00
    transition: .4s;
    }
    button {
        padding: 9px 20px;
        background-color: #FF5C00;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    button:hover {
        background-color: rgb(128, 128, 128);
        transform: scale(1.2);
    }
        .detail {
            margin-left: 50px;
            color: white;
            margin-bottom: 120px 0px;
            position: relative;
        }
    
        .detail {
            margin-left: 9%;
            margin-top: 100px;
        }
    
        .detail h1 {
            font-size: 90px;
            color: rgb(255, 255, 255);
            text-align: justify;
        }
    
        .detail h4 {
            font-size: 14px;
            color: #FF5C00;
        }
    
        span {
            color: rgb(255, 166, 0);
            margin-top: -10px;
        }
    
        .detail p {
            color: #ffffff55;
            line-height: 22px;
        }
    
        .detail a {
            background: #424345;
            padding: 10px 18px;
            text-decoration: none;
            font-weight: none;
            color: white;
            display: inline-block;
            margin: 30px 0;
            border-radius: 5px;
        }
        .emoji {
            width: 50px;
            left: 150px;
            top: 102px;
            position: relative;
            transition: transform 0.3s;
        }

        li,a, button {
            font-family: "Roboto Mono", sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: white;
            text-decoration: none;
        }
    
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 10%;
        }
        .work {
        width: 100%; 
        padding: 100px 0px;
        margin-top: 350px;
        text-align: center;
        }
        .work h4 {
            margin: auto;
            margin-bottom: 150px;
            text-align: center;
            font-size: 50px;
            color: white;
        }
        .code {
            width: 300px;
            height: 200px;
            background-image: url(img/code.jpg);
            background-size: contain;
            background-position: center;
        }
        .ipad{
            width: 300px;
            height: 200px;
            background-image: url(img/ipad.jpg);
            background-size: contain;
            background-position: center;
        }
           .app {
        width: 300px;
        height: 200px;
        background-image: url(img/app.jpg);
        background-size: contain;
        background-position: center;
          }
          .hand{
            width: 900px;
            height: 200px;
            background-image: url(img/hand.jpg);
             background-size: contain;
            background-position: center;
            
          }
          .code :hover{
            transition: .3s;
            scale: (1.2);
            width: 300px;
          }
        .images {
            margin: auto;
            height: 25px;
            width: 25px;
            align-items: center;
        }

        .emoji {
            animation-name: emoji-animation;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            transform-origin: 70% 70%;
            display: inline-block;
    }         
        
        @keyframes emoji-animation {  
            0% {transform: rotate(0.0deg)}
            10% {transform: rotate(14.0deg)}
            20% {transform: rotate(-8.0deg)}
            30% {transform: rotate(14.0deg)}
            40% { transform: rotate(-4.0deg)}
            50% {transform: rotate(10.0deg)}
            60% {transform: rotate(0.0deg)}
            100% {transform: rotate(0.0deg)}
        }
 .about{
width: 100%;
padding: 100px 0px;
margin-top: 350px;
 }

    
.about-text {
width: 550px;  
 }
.about h4{
margin-bottom: 150px;
text-align: center;
font-size: 50px;
color: white;
 }
.about img{
height: auto;
width: 350px;
 }
 .main{
  width: 1130px;
 max-width: 95%;
 margin: 0 auto;
 display: flex;
align-items: center;
justify-content: space-around;
 }
             .about-text h2{
                color: white;
                font-size: 50px;
                text-transform: capitalize;
             }
            .about-text h5 {
            color: white;
            letter-spacing: 2px;
            font-size: 22px;
            margin-bottom: 25px;
            text-transform: capitalize;
            }
.about-text p {
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 18px;
    margin-bottom: 45px;
}
button2{
    background-color: #FF5C00;
    color:#fcfcfc;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 30px 30px;
    border-radius: 30px;
    transition: 4s;
}
button2:hover {
    background-color: transparent;
    border:2px solid #FF5C00;
    cursor: pointer;
}
.contact-me{
    margin-top: 400px;
    margin-bottom: 400px;
    width: 100%;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    margin-top: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: "Montserrat";
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Montserrat";
}
footer p:nth-child(2) {
    font-size: 17px;
    color: white;
    text-align: center;
    line-height: 26px;
    width: 500px;
    font-family: "Montserrat";
}
.social{
    display: flex;
}
.social a{
    width: 60px;
    height: px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
 
}
.end{
    position: absolute;
    color: #FF5C00;
    bottom: 35px;
    font-size: 50px;
    font-family: "Montserrat";
}
.contact-me h4 {
    margin-bottom: 150px;
    text-align: center;
    font-size: 50px;
    color: white;
}
}